<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汇率</title>
    <script src="vue.min.js"></script>
</head>
<body>
    <div id="box">
        <label for="rmb">请输入要转换的人民币￥</label>
        <input type="text" v-model="rmb"/>
    
        <ul>
            <li v-for="list in todo">
                <h2>{{list.area}}</h2>
                <div v-for="zp in list.data">
                    <label for="">{{zp.country}}:</label>
                    <input type="text" value={{rmb*zp.number}} />
                </div>
            </li>
        </ul>
    </div>
<script>
        var vm = new Vue({
        el: '#box',
        data: {
            rmb: 10,
            todo: [{
                "area": "亚洲",
                "data": [{
                    "country": "日元",
                    "number": 16.7017
                }, {
                    "country": "韩元",
                    "number": 177.5149
                }, {
                    "country": "港币",
                    "number": 1.1971
                }]
            }, {
                "area": "欧洲",
                "data": [{
                    "country": "英镑",
                    "number": 0.1089
                }, {
                    "country": "瑞士法郎",
                    "number": 0.149
                }, {
                    "country": "欧元",
                    "number": 1.1365
                }]
            }, {
                "area": "美洲",
                "data": [{
                    "country": "美元",
                    "number": 0.1544
                }]
            }]
        },
        methods: {

        }
    });
</script>
</body>
</html>
